<div id="leftcol">
	<h2>Latest News</h2>

	<% unless @news_articles.blank? %>

		<% for news_article in @news_articles %>
		
			<div id="news">
				<%= link_to(image_tag(news_article.image.public_filename(:thumb)), news_article_path(news_article), :title => "Click to read full news article") if news_article.image %>
				<p>
					<small><%= news_article.publish_at %></small><br>
					<strong><%= link_to news_article.title, news_article_path(news_article), :title => "Click to read full news article", :style => "text-decoration: none;" %></strong><br>
					<%= truncate(news_article.text.gsub("*", ""), 150) %>
				</p>
			</div>

		<% end %>

	<% end %>

</div><!-- end leftcol -->


<div id="middlecol">
	<h2>Keep Informed</h2>
	<p>Sign-up here to receive two-weekly automotive newsletters straight to your inbox.</p>
	<%= render :partial => "newsletters/form" %>
</div><!-- end middlecol -->


<div id="rightcol">

	<div id="actions">
		
		<% PromotionBox.active.each do |promotion_box| %>
			<div class="sidebox <%= promotion_box.style %>">
				<h3><%=h promotion_box.title %></h3>
				<p><%= promotion_box.rendered_body %></p><br/><br/>
			</div>
		<% end %>

	</div>
	

</div><!-- end rightcol -->