<div id="leftcol">
	<h2>Latest News</h2>

	<% unless @news_articles.blank? %>

		<% for news_article in @news_articles %>
		
			<div id="news">
				<%= link_to(image_tag(news_article.image.public_filename(:thumb)), news_article_path(news_article), :title => "Click to read full news article") if news_article.image %>
				<p>
					<small><%= news_article.publish_at.to_date if news_article.publish_at %></small><br>
					<strong><%= link_to news_article.title, news_article_path(news_article), :title => "Click to read full news article", :style => "text-decoration: none;" %></strong><br>
					<%= truncate(news_article.text.gsub("*", ""), 150) %>
				</p>
			</div>

		<% end %>
		<p><%= link_to(image_tag("twitter-btn.gif", :alt => "Twitter"), "http://twitter.com/ReedsMotorGroup", :title => "Follow us on Twitter", :popup => true) %></p>
	<% end %>

</div><!-- end leftcol -->


<div id="middlecol">
	<h2>The Chevrolet Cruze is Coming</h2>
	<img src="/images/cruze/cruze-home.jpg" alt="Chevrolet Cruze" border="0" class="brdr" />
	<p><strong>The new Chevy Cruze is set to make its mark</strong> in the South African and global auto markets with its sporty nature and sexy styling. The arrival of Cruze spearheads an exciting new product roll-out program that is expected to propel the brand to even greater success globally. <a href="/cruze">More info...</a></p>
</div><!-- end middlecol -->



<div id="rightcol">

	<div id="actions-home">
		
		<div class="sidebox">
			<a href="/specials/we-want-to-buy-your-car" title="Sell us your car"><%= image_tag "sell-us-your-car.gif", :size => "280x59", :alt => "Sell us your car" %></a>
		</div>
		<% PromotionBox.active.each do |promotion_box| %>
			<div class="sidebox <%= promotion_box.style %>">
				<div>
					<h3><%=h promotion_box.title %></h3>
					<%= promotion_box.rendered_body %>
				</div>
			</div>
		<% end %>

	</div>
	

</div><!-- end rightcol -->


<div id="widecol"> 
<h2>About Reeds Motor Group</h2>
 <p>Reeds Motor Group is Cape Town's largest independently owned General Motors Franchise Group. Cape Town's top GM dealership has been operating since 1910, making 2010 our centenary year! We are already starting to celebrate by offering you the biggest range of guaranteed <strong>used cars in Cape Town</strong>, and great deals on <strong>new cars</strong> too!  We retail the following new vehicle brands: Opel, Isuzu, Chevrolet, Saab, Hummer and Cadillac.</p>
<p>We have three modern and fully equipped vehicle dealerships (dealerships with a workshop) in Cape Town, N1 City and the Isuzu Truck Centre in Epping as well as a boutique dealership in Tygervalley.</p>
</div><!-- end widecol -->


