<div id="leftcol">
	<h2>Latest News</h2>

	<% unless @news_articles.blank? %>

		<% for news_article in @news_articles %>
		
			<div id="news">
				<%= image_tag(news_article.image.public_filename(:thumb), :size => "70x70") if news_article.image %>
				<p>
					<small><%= news_article.publish_at %></small><br>
					<strong><%=h news_article.title %></strong><br>
					<%= truncate(news_article.text, 150) %>
				</p>
			</div>

		<% end %>

	<% end %>

</div><!-- end leftcol -->


<div id="middlecol">
	<h2>Keep Informed</h2>
	<p>Sign-up here to receive two-weekly automotive newsletters straight to your inbox.</p>
	<%= render :partial => "newsletters/form" %>
</div><!-- end middlecol -->


<div id="rightcol">
	<h2>To be confirmed...</h2>
	<br><br><br><br><br><br>
</div><!-- end rightcol -->