<div id="leftcol">
	<h2>Latest News</h2>

	<% unless @news_articles.blank? %>

		<% for news_article in @news_articles %>
		
			<div id="news">
				<%= link_to(image_tag(news_article.image.public_filename(:thumb)), news_article_path(news_article), :title => "Click to read full news article") if news_article.image %>
				<p>
					<small><%= news_article.publish_at.to_date if news_article.publish_at %></small><br>
					<strong><%= link_to news_article.title, news_article_path(news_article), :title => "Click to read full news article", :style => "text-decoration: none;" %></strong><br>
					<%= truncate(news_article.text.gsub("*", ""), 150) %>
				</p>
			</div>

		<% end %>
        <span>
		<!--<p class="twitter">
          <%#=     link_to(image_tag("image006.jpg", :alt => "Twitter"), "http://twitter.com/ReedsMotorGroup", :title => "Follow us on Twitter", :popup => true) %>
          <span style="margin-bottom:10px;"><%= link_to(image_tag("image005.png", :alt => "Facebook"), "http://www.facebook.com/group.php?gid=69786709240", :title => "Follow us on Facebook", :popup => true) %></span>
        </p>-->
        </span>
	<% end %>

</div><!-- end leftcol -->


<div id="middlecol">
	<span style="text-align:center;"><h2>NEW CHEVY SPARK<br />
      IS HERE!</h2></span>
	<img src="images/spark/Spark1-s.jpg" alt="Chevrolet Spark" border="0" class="brdr1" />
	<p><strong>The New Chevrolet Spark</strong> The new Spark will substantially enhance Chevrolet's offerings in the small car segment in South Africa and will be available in 2 models; namely the Spark L model and the Spark LS model, both sharing the 1,2 litre engine. South Africa joins numerous markets around the world who have already successfully introduced this stylish and modern vehicle. <a href="/specials/the-new-chevrolet-spark">More info...</a></p>
</div><!-- end middlecol -->


  
<div id="rightcol">

	<div id="actions-home">
		
		<div class="sidebox">
			<a href="/contact/sell_your_car" title="Sell us your car"><%= image_tag "sell-us-your-car.gif", :size => "280x59", :alt => "Sell us your car" %></a>
		</div>
		<% PromotionBox.active.each do |promotion_box| %>
			<div class="sidebox <%= promotion_box.style %>">
				<div>
					<h3><%=h promotion_box.title %></h3>
					<%= promotion_box.rendered_body %>
				</div>
			</div>
		<% end %>

	</div>
	

</div><!-- end rightcol -->


<div id="widecol"> 
<h2>About Reeds Motor Group</h2>
 <p>Reeds Motor Group is Cape Town's largest independently owned General Motors Franchise Group. Cape Town's top GM dealership has been operating since 1910, making 2010 our centenary year! We are already starting to celebrate by offering you the biggest range of guaranteed <strong>used cars in Cape Town</strong>, and great deals on <strong>new cars</strong> too!  We retail the following new vehicle brands: Opel, Isuzu, Chevrolet, Saab, Hummer and Cadillac.</p>
<p>We have three modern and fully equipped vehicle dealerships (dealerships with a workshop) in Cape Town, N1 City and the Isuzu Truck Centre in Epping as well as a boutique dealership in Tygervalley.</p>
</div><!-- end widecol -->


