<%= f.error_messages %>

<p>
  <%= f.label :job_title %><br />
	<%= f.select :job_title, Salesperson::JOB_TITLES.collect { |p| [p, p] } %>
</p>
<p>
  <%= f.label :name %><br />
  <%= f.text_field :name %>
</p>
<p>
  <%= f.label :phone %><br />
  <%= f.text_field :phone %>
</p>
<p>
  <%= f.label :email %><br />
  <%= f.text_field :email %>
</p>
