<p>
  <%= f.label :title %><br />
  <%= f.text_field :title %>
</p>
<p>
  <%= f.label :body %> (you can use the <%= link_to 'Textile', 'http://textile.thresholdstate.com/' %> format here) <br />
  <%= f.text_area :body, :cols => 80 %>
</p>
<p>
  <%= f.label :style %><br />
  <%= f.select :style, PromotionBox::STYLES.map { |style| [style, style] } %>
</p>
<p>
  <%= f.label :active %><br />
  <%= f.check_box :active %>
</p>
<p>
  <%= f.label :position %>(smaller the number, the higher up it appears in the promotions column)<br />
  <%= f.text_field :position %>
</p>
