<%= f.error_messages %>

<p>
  <%= f.label :name %><br />
  <%= f.text_field :name %>
</p>
<p>
  <%= f.label :date %><br />
  <%= f.date_select :date %>
</p>

<%= partial :scripts %>
<%= partial :images %>
