<p>
  <b>Name:</b>
  <%=h @make.name %>
</p>

<p>
  <b>Common name:</b>
  <%=h @make.common_name %>
</p>

<p>
  <b>Website:</b>
  <%=h @make.website %>
</p>


<%= link_to 'Edit', edit_admin_make_path(@make) %> |
<%= link_to 'Back', admin_makes_path %>
