<h1>Listing salespeople</h1>

<% unless @salespeople.blank? %>

<table>
  <tr>
    <th>Name</th>
    <th>Phone</th>
    <th>Email</th>
  </tr>

<% for salesperson in @salespeople %>
  <tr>
    <td><%= link_to salesperson.name, salesperson %></td>
    <td><%= h salesperson.phone %></td>
    <td><%= h salesperson.email %></td>
    <td><%= link_to 'Edit', edit_salesperson_path(salesperson) %></td>
    <td><%= link_to 'Destroy', salesperson, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<% else %>
  <p> There are no salespeople available yet. </p>
<% end %>

<br />

<%= link_to 'New salesperson', new_salesperson_path %>
