<h1>Listing makes</h1>

<% unless @makes.blank? %>

<%= will_paginate @makes  %>

<table>
  <tr>
    <th>Name</th>
    <th>Website</th>
  </tr>

<% for make in @makes %>
  <tr>
    <td><%= h make.common_name %></td>
    <td><%= link_to_unless make.website.blank?, make.website, make.website %></td>
    <td><%= link_to 'Edit', edit_make_path(make) %></td>
    <td><%= link_to 'Destroy', make, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<%= will_paginate @makes  %>

<% else %>
  <p> There are no makes available yet </p>
<% end %>

<br />

<%= link_to 'New make', new_make_path %>
