<table id="alt" border="0" cellpadding="0" cellspacing="0">
	<thead>
		<tr>
			<th>Make</th>
			<th>Model</th>
			<th>Price</th>
			<th>Year</th>
			<th>Details</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
	<% results.each do |result| %>
		<tr>
			<td><%=h result.make.name %></td>
			<td><%=h result.model.name %></td>
			<td><%=h result.price.format %></td>
			<td><%=h result.year %></td>
			<td><%= link_to "View", classified_path(result.permalink) %></td>
			<td><% if result.has_images? %><%= link_to(image_tag("camera.gif", :alt => "Photo", :size => "22x16"), classified_path(result.permalink)) %><% end %></td>
		</tr>
	<% end %>
	</tbody>
</table>
