<table>
	<% results.each do |result| %>
		<tr>
			<td>
				<%=h result.humanize %> <%=h result.year %> (<%=h result.mileage  %>km) <%= link_to "Show", classified_path(result.permalink) %><br/>
				Price: <%=h result.price.format(:no_cents) %>  Colour: <%=h result.colour  %><br/>
				Stock code: #<%=h result.stock_code %>				
			</td>
		</tr>
	<% end %>
</table>
