 <p>
	<label>Make:</label>
	<%= select_tag :make_id, makes_options("new_vehicle", params[:make_id]) %><br/>

	<label>Series:</label>
	<%= select_tag :model_range_id, model_ranges_options(params[:make_id], params[:model_id]) %><%= spinner("model_ranges_spinner") %><br/>

	<label>Price Range:</label>
	<%= select_tag :price_range, options_for_select(
		[	["Any", ""],
            ["< R40 000", "|40000"],
            ["R40 000 - R60 000", "40000|60000"],
            ["R60 000 - R80 000", "60000|80000"],
			["R80 000 - R100 000", "80000|100000"],
			["R100 000 - R120 000", "100000|120000"],
			["R120 000 - R140 000", "120000|140000"],
			["R140 000 - R160 000", "140000|160000"],
			["R160 000 - R180 000", "160000|180000"],
			["R180 000 - R200 000", "180000|200000"],
			["R200 000 - R220 000", "200000|220000"],
			["R220 000 - R240 000", "230000|240000"],
			["R240 000 - R260 000", "240000|260000"],
			["R260 000 - R280 000", "260000|280000"],
			["R280 000 - R300 000", "280000|300000"],
			["> R300 000", "300000|"]
		], params[:price_range]
	) %><br/>

</p>

<%= hidden_field_tag :type, "new_vehicle" %>

<script type="text/javascript">
//<![CDATA[

	$('#make_id').change(function(e){
		$("#model_ranges_spinner").show();
		$.ajax({
			type: "GET",
			url: "/search/load_model_ranges",
			data: { make_id: this.value },
			success: function(data, textStatus){
				$("#model_ranges_spinner").hide();
				eval(data);
			},
			error: function (XMLHttpRequest, textStatus, errorThrown) {
				$("#model_ranges_spinner").hide();
				eval(XMLHttpRequest.responseText);
			}
		});
		return false;
	});

//]]>
</script>
