<h2>News</h2>

<%= will_paginate @news_articles %>

<% unless @news_articles.blank? %>
  <table>
    <tr>
      <th>Title</th>
      <th>Category</th>
      <th>Publish at</th>
    </tr>
  
    <% for news_article in @news_articles %>
      <tr>
        <td><%= link_to news_article.title, news_article %></td>
        <td><%= h news_article.category.name if news_article.category %></td>
        <td><%= h news_article.publish_at %></td>
      </tr>
    <% end %>
  </table>
<% else %>
  <p>There are no news availabe yet.</p>
<% end %>

<%= will_paginate @news_articles %>
