<% content_for(:browser_title) do %>
	News
<% end -%>

<% content_for(:title) do %>
	<h2>News</h2>
<% end -%>



<%= will_paginate @news_articles %>

<% unless @news_articles.blank? %>
  <table>
    <tr>
			<th></th>
      <th>Title</th>
      <th>Publish at</th>
    </tr>
  
    <% for news_article in @news_articles %>
      <tr>
				<td><%= link_to(image_tag(news_article.image.public_filename(:thumb)), news_article_path(news_article), :title => "Click to read full news article") if news_article.image %></td>
        <td>
					<%= link_to news_article.title, news_article %><br/>
					<%= truncate(news_article.text.gsub("*", ""), 150) %>
				</td>
        <td><%= h news_article.publish_at.to_date %></td>
      </tr>
    <% end %>
  </table>
<% else %>
  <p>There are no news availabe yet.</p>
<% end %>

<%= will_paginate @news_articles %>
