<% content_for(:browser_title) do %>
	<%=h @news_article.title %> - <%= @news_article.publish_at.to_s( :date ) %>
<% end -%>

<% content_for(:title) do %>
	<h2><%=h @news_article.title %> - <%= @news_article.publish_at.to_s( :date ) %></h2>
<% end -%>

<p><%= image_tag @news_article.image.public_filename if @news_article.image %></p>
<%= @news_article.rendered_text %>

<% unless @news_article.source_url.blank? %>
    <%= link_to 'View Source', @news_article.source_url %>
<% end %>

<% if logged_in? %>
    <%= link_to 'Edit', edit_admin_news_article_path( @news_article )  %>
<% end %>