<h2>News</h2>

<%= will_paginate @news_articles %>

<% unless @news_articles.blank? %>
  <table>
    <tr>
      <th>Title</th>
      <th>Category</th>
      <th>Publish at</th>
    </tr>
  
    <% for news_article in @news_articles %>
      <tr>
        <td><%= link_to news_article.title, admin_news_article_path(news_article) %></td>
        <td><%= h news_article.category.name if news_article.category %></td>
        <td><%= h news_article.publish_at %></td>
        <td><%= link_to 'Edit', edit_admin_news_article_path(news_article) %> | <%= link_to 'Destroy', admin_news_article_path(news_article), :confirm => 'Are you sure?', :method => :delete %></td>
      </tr>
    <% end %>
  </table>
<% else %>
  <p>There is no news available yet.</p>
<% end %>

<%= will_paginate @news_articles %>

<br />

<%= link_to 'New news article', new_admin_news_article_path %>