<h2> <%=h @news_article.title %></h2>

<h3>
  Category: <%=h @news_article.category.name if @news_article.category %>
</h3>

<% unless @news_article.author.blank? %>
<h3>
  Author: <%=h @news_article.author %>
</h3>
<% end  %>

<%= image_tag @news_article.image.public_filename if @news_article.image %>
<%= @news_article.rendered_text %>

<% unless @news_article.source_url.blank? %>
    <%= link_to 'View Source', @news_article.source_url %>
<% end %>

<% if logged_in? %>
    <%= link_to 'Edit', edit_admin_news_article_path( @news_article )  %>
<% end %>