<p style="font-size: 10px;">To unsubscribe, click <a href="http://reedsgnu.createsend.com/t/r/u/kjyhui/?cm-kjyhui-kjyhui=<%= @email %>">here</a>.</p>

<p>Hello <%= @name %>,</p>

<p>
To contact us or to express interest in any of our quality approved (114 point check)<br/>
vehicles, please call Suzanne Denicker on 021 443 5130,<br/>
or email her at suzanned@reeds.co.za
</p>

<table border cellpadding="2">
<% @stocklist.each do |classified| -%>
<tr style="background-color: <%= cycle('#ffffff', '#F4F4F4') %>">
	<td><%= classified.humanize %></td>
	<td width="35"><%= classified.year %></td>
	<td width="80"><%= classified.mileage %>km</td>
	<td width="35">#<%= classified.colour %></td>
	<td width="42">#<%= classified.stock_code %></td>
	<td><strong><%= classified.price.format %></strong></td>
</tr>
<% end -%>
</table>

<p>The Reeds Team</p>

<p>
To contact us or to express interest in any of our quality approved (114 point check)<br/>
vehicles, please call Suzanne Denicker on 021 443 5130,<br/>
or email her at suzanned@reeds.co.za
</p>

<p style="font-size: 10px;">To unsubscribe, click <a href="http://reedsgnu.createsend.com/t/r/u/kjyhui/?cm-kjyhui-kjyhui=<%= @email %>">here</a>.</p>