<table width="617" border="0" align="center" cellpadding="0" cellspacing="0">
			<!-- fwtable fwsrc="Untitled" fwbase="3313.jpg" fwstyle="Dreamweaver" fwdocid = "998175430" fwnested="0" -->
			<tr>
				<td>
					<div align="left">
						<p align="center"><font size="2">If you are unable to see the images in this e-mail or if the e-mail is distorted in any way, please mail:</font><font size="2" color="#0066e7"><a href="mailto:zubaidas@reeds.co.za">zubaidas@reeds.co.za</a></font><font size="2"> and ask for a PDF version of this mailer.<br />
								<br />
							</font><img name="HEADER_2" src="http://www.admakers.co.za/dev/mailers/reeds/38256/1.jpg" width="670" height="114" border="0" id="HEADER_2" alt="" /><img name="HEADER_3" src="http://www.admakers.co.za/dev/mailers/reeds/38256/2.jpg" width="670" height="73" usemap="#2f3ce5a3" border="0" id="HEADER_3" alt="" /><map name="2f3ce5a3"><area shape="rect" coords="450,17,649,67" href="http://www.reeds.co.za/service_and_parts/book" alt="" /><area shape="rect" coords="229,14,431,67" href="http://www.reeds.co.za/specials" alt="" /><area shape="rect" coords="11,14,213,67" href="http://www.reeds.co.za/pages/reeds-value-services" alt="" /></map></p>
                            <p style="font-size: 10px;">To unsubscribe, click <a href="http://reedsgnu.createsend.com/t/r/u/kjyhui/?cm-kjyhui-kjyhui=<%= @email %>">here</a>.</p>

                        <p>Hello <%= @name %>,</p>

                        <p>
                        To contact us or to express interest in any of our quality approved (114 point check)<br/>
                        vehicles, please call Suzanne Denicker on 021 443 5130,<br/>
                        or email her at suzanned@reeds.co.za
                        </p>

                        <table border cellpadding="2">
                        <% @stocklist.each do |classified| -%>
                        <tr style="background-color: <%= cycle('#ffffff', '#F4F4F4') %>">
                            <td><%= classified.humanize %></td>
                            <td width="35"><%= classified.year %></td>
                            <td width="80"><%= classified.mileage %>km</td>
                            <td width="35"><%= classified.colour %></td>
                            <td width="42"><%= classified.stock_code %></td>
                            <td><strong><%= classified.price.format %></strong></td>
                            <td><a href="http://www.reeds.co.za/classifieds/<%= classified.permalink %>">Click To View</a></td>
                        </tr>
                        <% end -%>
                        </table>

                        <p>The Reeds Team</p>

                        <p>
                        To contact us or to express interest in any of our quality approved (114 point check)<br/>
                        vehicles, please call Suzanne Denicker on 021 443 5130,<br/>
                        or email her at suzanned@reeds.co.za
                        </p>




						<div align="center">
							<p align="left"><font size="2" color="#0000c3" face="Arial, Helvetica, sans-serif"><strong>For immediate response, please contact <a href="mailto:suzanned@reeds.co.za?subject=Reeds Service Sheets.">suzanned@reeds.co.za</a> </strong></font></p>
						</div>
						<p><img name="HEADER_7" src="http://www.admakers.co.za/dev/mailers/reeds/38256/4.jpg" width="670" height="100" usemap="#1_06f1e2aa2" border="0" id="HEADER_7" alt="" /><img name="HEADER_5" src="http://www.admakers.co.za/dev/mailers/reeds/38256/5.jpg" width="670" height="63" border="0" id="HEADER_5" alt="" /><map name="1_06f1e2aa2"><area shape="rect" coords="452,26,668,99" href="http://www.reeds.co.za" alt="" /><area shape="rect" coords="123,70,228,90" href="http://twitter.com/ReedsMotorGroup" alt="" /><area shape="rect" coords="263,60,348,91" href="http://www.facebook.com/group.php?gid=69786709240" alt="" /></map></p>
					</div>
				</td>
			</tr>
            </tr>
                <td>
                    

                    <p style="font-size: 10px;">To unsubscribe, click <a href="http://reedsgnu.createsend.com/t/r/u/kjyhui/?cm-kjyhui-kjyhui=<%= @email %>">here</a>.</p>
              </td>
          </tr>
          <tr>
              <td>
                  <table border="0" align="center" width="617">
                      <tr>
                          <td valign="top" align="center" style="color:#666666; font-family:Arial, Helvetica, sans-serif; font-size:10px; padding-top:10px"> If you can not see the images above, please click <a href="http://www.admakers.co.za/dev/mailers/reeds/38067/1/38067.html" target="_blank"  style="color:#666666; font-family:Arial, Helvetica, sans-serif; font-size:10px; text-decoration:underline">here</a>. </td>
                      </tr>
                  </table>
              </td>
          </tr>
      </table>
