<% form_for(@model_variant) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :model_id %><br />
    <%= model_variant_model_select  f %>
  </p>
  <p>
    <%= f.label :year %><br />
    <%= f.text_field :year %>
  </p>
  <p>
    <%= f.label :mead_mcgrouther_code %><br />
    <%= f.text_field :mead_mcgrouther_code %>
  </p>
  <p>
    <%= f.submit "Send" %>
  </p>
  
<% end %>