<h1>Listing model_variants</h1>

<% unless @model_variants.blank?  %>

<%= will_paginate @model_variants  %>

<table>
  <tr>
    <th>Model</th>
    <th>Year</th>
    <th>Mead mcgrouther code</th>
  </tr>

<% for model_variant in @model_variants %>
  <tr>
    <td><%=h model_variant.model.name %></td>
    <td><%=h model_variant.year %></td>
    <td><%=h model_variant.mead_mcgrouther_code %></td>
    <td><%= link_to 'Show', model_variant %></td>
    <td><%= link_to 'Edit', edit_model_variant_path(model_variant) %></td>
    <td><%= link_to 'Destroy', model_variant, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<%= will_paginate @model_variants  %>

<% else %>
  <p>There are no model variants available.</p>
<% end  %>

<br />

<%= link_to 'New model_variant', new_model_variant_path %>
