<% form_for(@menu_item) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :position %><br />
    <%= f.text_field :position %>
  </p>
  <p>
    <%= f.label :page %> (if you define a page, you should not define a path)<br />
    <%= pages_select f %>
  </p>
  <p>
    <%= f.label :path %> (if you define a path, you should not define a page)<br />
    <%= f.text_field :path %>
  </p>
  <p>
    Parent menu<br />
    <%= parents_select f %>
  </p>
  <p>
    <%= f.submit "Send" %>
  </p>
<% end %>