<% form_for :form, @form, :url => { :controller => 'service_and_parts', :action => 'book' }, :html => { :method => :post, :id => "service_form" } do |f| %>
	<div class="form">
		<%= error_messages_for :form %>
		<div id="service_form_notice" class="notice" style="display: none;"></div>
		<div id="service_form_errors" class="error" style="display: none;"></div>
		<br/>
		Name<br/>
		<%= f.text_field :name %><br/>
		Email<br/>
		<%= f.text_field :email %><br/>
		Cell phone number<br/>
		<%= f.text_field :cel_phone_number %><br/>
		Work phone number<br/>
		<%= f.text_field :work_phone_number %><br/>
		Booking date ( Should be at least 3 days from now )<br/>
		<%= f.text_field :booking_date %><br/>
		Service requirements<br/>
		<%= f.text_field :problem_description %><br/>
		<%= submit_tag 'Book' %><%= spinner("service_spinner") %>
	</div>
<% end  %>

<script type="text/javascript">
//<![CDATA[

 $('#form_booking_date').datepicker({ dateFormat: 'yy-mm-dd',
 																			defaultDate: +3,
																			minDate: +3
 });

//]]>
</script>
