<% form_for :form, @form, :url => { :controller => 'service_and_parts', :action => 'book' }, :html => { :method => :post, :id => "service_form" } do |f| %>
	<div class="form">
		<% unless @form.errors.empty? %>
			<div class="error">
				<%= error_messages_for :form %>
			</div>
		<% end %>
		<br/>
		First name:<br/>
		<%= f.text_field :first %><br/>
		Last name:<br/>
		<%= f.text_field :last %><br/>
		Email<br/>
		<%= f.text_field :email %><br/>
		Cell phone number<br/>
		<%= f.text_field :cel_phone_number %><br/>
		Work phone number<br/>
		<%= f.text_field :work_phone_number %><br/>
		Registration number<br/>
		<%= f.text_field :reg_num %><br/>
		Booking date <br/>
		<%= f.text_field :booking_date %><br/>
		Workshop<br/>
		<%# Manual branch listing, as Tygervalley doesn't have a workshop %>
		<%= f.select :branch, [["Please select ...", ""], ["Reeds N1", "Reeds N1"], ["Reeds Cape Town", "Reeds Cape Town"], ["Isuzu Truck Centre", "Isuzu Truck Centre"]] %><br/>
		Service requirements<br/>
		<%= f.text_area :problem_description, :rows => 5 %><br/>
		<input type="image" class="button" src="/images/btn-submit.gif" value="Submit" id="Submit" name="Submit" /><%= spinner("service_spinner") %>
	</div>
<% end  %>

<script type="text/javascript">
//<![CDATA[

 $('#form_booking_date').datepicker({ dateFormat: 'yy-mm-dd',
 																			defaultDate: +3,
																			minDate: +3
 });

//]]>
</script>
