<p>

	<% link_to_section "Let us find the vehicle for you" do |cancel| %>	
		<%= link_to_function("Hide Details", cancel) %>
		<h3>Let us find the vehicle you're looking for</h3>
		<p>Would you like us to contact you if we find vehicles matching your criteria?</p>
		<% form_for :form, FindCarForm.new(:criteria => criteria_in_words), :url => find_car_path, :html => { :method => :post, :id => "find_car_form" } do |f| -%>
			<div class="form">
				<div id="find_car_form_notice" class="notice" style="display: none;"></div>
			  <div id="find_car_form_errors" class="error" style="display: none;"></div>
					First Name:<br/>
					<%= f.text_field :first %><br/>
					Last Name:<br/>
					<%= f.text_field :last %><br/>
					Email:<br/>
					<%= f.text_field :email %><br/>
					Phone number:<br/>
					<%= f.text_field :phone %><br/>
					What are you looking for:<br/>
					<span class="info">Please fill in as much information as you can, so that we can help you properly.</span><br/>
					<%= f.text_area :criteria, :rows => 5, :cols => 50 %><br/>
					<%= submit_tag 'Please find for me' %><%= spinner("find_car_spinner") %>
			</div>
		<% end -%>
	<% end -%>
</p>

<p>

	<% link_to_section "Subscribe now to receive an updated list of our pre-owned cars daily" do |cancel| %>	
		<%= link_to_function("Hide Details", cancel) %>
		<h3>Subscribe to Stock List</h3>
		<p>You can also subscribe to our daily stock lists sent to you via email.</p>
		<%= partial "stocklists/form" %>
	<% end -%>

</p>
<script type="text/javascript">
//<![CDATA[

 $('#find_car_form').ajaxForm({
	dataType: 'script',
	beforeSubmit: function(xhr){
		$('#find_car_spinner').show();
		$('#find_car_form_errors').hide();
		$('#find_car_form_notice').hide();
	},
	success: function(data){
		$('#find_car_spinner').hide();
		eval(data);
	}
});
//]]>
</script>
