<%= f.error_messages %>

<p>
  <%= f.label :title %><br />
  <%= f.text_field :title %>
</p>

<p>
  <%= f.label :text %> (you can use the <%= link_to 'Textile', 'http://textile.thresholdstate.com/' %> format here) <br />
  <%= f.text_area :text %>
</p>

<% if special.image %>
	<p id="<%= "image_#{special.image.id}"  %>"> 
	    <%= image_tag special.image.public_filename %> 
	    - <%= link_to_remote 'Remove this image', :url => admin_uploaded_image_path( special.image ), :method => :delete, :confirm => 'Are you sure?'  %>
	</p>
<% end %>

 <p>
  <%= f.label :image %><br />
  <%= f.file_field :uploaded_data %>
</p>
