<div id="enquiry">
	<div>
		<h3>Vehicle enquiry</h3>

		<div id="enquiry_form_notice" class="notice" style="display: none;"></div>
	  <div id="enquiry_form_errors" class="error" style="display: none;"></div>

		<% form_for :form, ef = NewVehicleEnquiryForm.new(), :url => new_vehicle_enquiry_path, :html => { :method => :post, :id => "enquiry_form" } do |f| -%>

			<div class="form">
			
				<label>Your name:</label>
				<%= f.text_field :name %><br/>
				<label>Telephone No:</label>
				<%= f.text_field :phone %><br/>
				<label>Email address: </label>
				<%= f.text_field :email %><br/>
				<%= f.radio_button :insurance, "I require insurance", :class => "radio" %> I require insurance.<br/>
				<%= f.radio_button :insurance, "I have insurance, but would like another insurance quote", :class => "radio" %> I have insurance, but would like another insurance quote.<br/>
				<label class="gap">Vehicle:</label>
				<%= f.select :vehicle, new_vehicle.new_vehicle_variants.map { |new_vehicle_variant| [new_vehicle_variant.name, new_vehicle_variant.humanize] } %><br/>
				<label>Accessories:</label>
				<%= f.text_area :accessories, :rows => 2 %><br/>
				<label>Comments:</label>
				<%= f.text_area :comments, :rows => 2 %><br/>
				<input type="image" class="button" src="/images/btn-submit.gif" value="Submit" id="Submit" name="Submit" /><%= spinner("enquiry_spinner") %>
			</div>

		<% end %>
		
	</div>
</div><!-- end enquiry -->

<script type="text/javascript">
//<![CDATA[

 $('#enquiry_form').ajaxForm({
	dataType: 'script',
	beforeSubmit: function(xhr){
		$('#enquiry_spinner').show();
		$('#enquiry_form_errors').hide();
		$('#enquiry_form_notice').hide();
	},
	success: function(data){
		$('#enquiry_spinner').hide();
		eval(data);
	}
});
//]]>
</script>
