<%= a.hidden_field :id %>
<p id="<%= "#{object.class.table_name.singularize}_#{object.id}"  %>">
  Name: <%= a.text_field :name %> <br/>
  Price: <%= a.text_field :price %> <br/>
  Model Reference: <%= a.text_field :model_reference %> 
  <%= link_to_remote 'Remove this item', :url => object, :method => :delete, :confirm => 'Are you sure?' %>
</p>