<% content_for(:browser_title) do %>
	<%=h @new_vehicle.humanize %>
<% end -%>

<% content_for(:title) do %>
	<h2><%=h @new_vehicle.humanize %></h2>
<% end -%>

<% unless @new_vehicle.enabled? %>
	<p style="color: red;">	
		Sorry, it was a great vehicle, but we no longer have it available.<br/>
	</p>

<% else %>

	<div id="action_menu">
		<p>
		<% if (request.env["HTTP_REFERER"] || "").include?(request.env["SERVER_NAME"]) %>
			<%= link_to "Back to search results", "javascript:history.back();", :title => "Back to search results" %>
		<% else %>
			<%= link_to "Search for other new vehicles", search_path(:type => "new_vehicle"), :title => "Search for new motor vehicles" %>
		<% end -%>
		</p>
	</div>

	<div id="twotwenty">

		<%= render :partial => "gallery", :locals => { :new_vehicle => @new_vehicle } %>
		<%= render :partial => "enquiry", :locals => { :new_vehicle => @new_vehicle } %>
	
	</div><!-- end twotwenty -->
	
	<div id="fourthirty">

		<table id="alt" border="0" cellpadding="0" cellspacing="0">
			<thead>
				<tr>
					<th>Model</th> 
					<th>Mod Ref</th>
					<th>Price <span>(incl. VAT)</span></th>
				</tr>
			</thead>
			<tbody>
				<% @new_vehicle.new_vehicle_variants.each do |new_vehicle_variant| %>
					<tr>
						<td><%=h @new_vehicle.name %> <%=h new_vehicle_variant.name %></td>
						<td><%=h new_vehicle_variant.model_reference %></td>
						<td><%=h new_vehicle_variant.price.format(:no_cents) %></td>
					</tr>
				<% end %>
			</tbody>
		</table>
		
		<% unless @new_vehicle.accessories.empty? %>
			<h6>Accessories:</h6>
			<table id="alt" border="0" cellpadding="0" cellspacing="0">
				<tbody>
					<% @new_vehicle.accessories.each do |accessory| %>
						<tr>
							<td><%=h accessory.name %></td>
							<td>
								<% if accessory.price %>
									<%=h accessory.price.format(:no_cents) %>
								<% else %>
									Quote
								<% end %>
							</td>
						</tr>
					<% end %>
				</tbody>
			</table>
		<% end %>
		
		<div id="callus">
			<h3>Call us now about this car!</h3>
			<p>If you are excited to get your new car right now, don't hesitate and contact <strong>Suzanne</strong> now on <strong>021 443 5130</strong> and quote the vehicle mod ref.</p>
		</div><!-- end callus -->

		<% unless @new_vehicle.new_vehicle_variants.empty? %>
			<h3>Calculator</h3>
			<%= partial "calculators/monthly_payment", :purchase_price => (@new_vehicle.new_vehicle_variants.first.price_in_cents / 100).to_i %>
		<% end -%>

	</div><!-- end fourthirty -->

<% end -%>

<% content_for(:actions) do %>


	<%= render :partial => "callback", :locals => { :new_vehicle => @new_vehicle } %>
	<%= render :partial => "book_test_drive", :locals => { :new_vehicle => @new_vehicle } %>

	<script type="text/javascript">
	//<![CDATA[

	 $('#callback_form').ajaxForm({
		dataType: 'script',
		beforeSubmit: function(xhr){
			$('#callback_spinner').show();
			$('#callback_form_errors').hide();
			$('#callback_form_notice').hide();
		},
		success: function(data){
			$('#callback_spinner').hide();
			eval(data);
		}
	});
	//]]>
	</script>


<% end -%>
	
