<% content_for(:browser_title) do %>
	<%=h @page.title %>
<% end -%>

<% content_for(:title) do %>
	<h2><%=h @page.title %></h2>
<% end -%>

<%= image_tag @page.image.public_filename if @page.image %>
<%= @page.rendered_text %>

<% if logged_in?  %>
    <%= link_to 'Edit', edit_admin_page_path(@page) %>
<% end  %>