<h2> <%=h @page.title %> </h2>

<%= @page.rendered_text %>
<%= image_tag @page.image.public_filename %>

<% if logged_in?  %>
    <%= link_to 'Edit', edit_page_path(@page) %> |
    <%= link_to 'Back', pages_path %>
<% end  %>