<h2>Listing referrals</h2>

<%= will_paginate @referrals %>

<% unless @referrals.blank? %>

  <table>
    <tr>
      <th>Name</th>
      <th>Source</th>
      <th>Link</th>
      <th>Visits</th>
    </tr>
  
    <% for referral in @referrals %>
      <tr>
        <td><%= link_to referral.name, admin_referral_path(referral) %></td>
        <td><%= h referral.source %></td>
        <td><%= referral_link( referral ) %>  </td>
				<td><%= referral.visits.size %></td>
        <td><%= link_to 'Edit', edit_admin_referral_path(referral) %> | <%= link_to 'Destroy', admin_referral_path(referral), :confirm => 'Are you sure?', :method => :delete %></td>
      </tr>
    <% end %>
  </table>

<% else %>
  <p> There are no referral links available </p>
<% end %>

<%= will_paginate @referrals %>

<br />

<%= link_to 'New referral', new_admin_referral_path %>