<% form_for(@referral) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.label :source %><br />
    <%= f.text_field :source %>
  </p>

  <p>
    <%= f.label :redirect_to %><br />
    <%= f.text_field :redirect_to %>
  </p>

  <p>
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </p>
  
  <p>
    <%= f.submit "Update" %>
  </p>

<% end %>