<%= f.error_messages %>

<p>
  <%= f.label :name %><br />
  <%= f.text_field :name %>
</p>

<p>
  <%= f.label :phone %><br />
  <%= f.text_field :phone %>
</p>

<p>
  <%= f.label :fax %><br />
  <%= f.text_field :fax %>
</p>

<p>
  <%= f.label :address %><br />
  <%= f.text_area :address, :cols => 40, :rows => 4 %>
</p>

<p>
  <%= f.label :stock_code_prefix %><br />
  <%= f.text_field :stock_code_prefix %>
</p>

<p>
  <%= f.label :cyberstock_prefix %><br />
  <%= f.text_field :cyberstock_prefix %>
</p>
