<%= f.error_messages %>

<p>
  <%= f.label :name %><br />
  <%= f.text_field :name %>
</p>

<p>
  <%= f.label :phone %><br />
  <%= f.text_field :phone %>
</p>

<p>
  <%= f.label :fax %><br />
  <%= f.text_field :fax %>
</p>

<p>
  <%= f.label :address %><br />
  <%= f.text_area :address, :cols => 40, :rows => 4 %>
</p>

<p>
  <%= f.label :stock_code_prefix %><br />
  <%= f.text_field :stock_code_prefix %>
</p>

<p>
  <%= f.label :cyberstock_prefix %><br />
  <%= f.text_field :cyberstock_prefix %>
</p>

<% if branch.image %>
	<p id="<%= "image_#{branch.image.id}"  %>"> 
	    <%= image_tag branch.image.public_filename %> 
	    - <%= link_to_remote 'Remove this image', :url => admin_uploaded_image_path( branch.image ), :method => :delete, :confirm => 'Are you sure?'  %>
	</p>
<% end %>

 <p>
  <%= f.label :image, "Map Image" %><br />
  <%= f.file_field :uploaded_data %>
</p>
