<h2> Reeds - <%= @branch.name %>  </h2>

<p>
	<strong>Phone:</strong>
	<%=h @branch.phone %>
</p>

<p>
	<strong>Fax:</strong>
	<%=h @branch.fax %>
</p>

<p>
	<strong>Address:</strong>
	<%= simple_format(sanitize(@branch.address)) %>
</p>

<p>
	<strong>Stock code prefix:</strong>
	<%=h @branch.stock_code_prefix %>
</p>

<p>
	<strong>Cyberstock prefix:</strong>
	<%=h @branch.cybertock_prefix %>
</p>

<h3>Salespeople at this branch</h3>

<div id="salespeople_in_branch">
    <%= partial :salespeople_in_branch %>
</div>

<br/>

<h3>Salespeople not at this branch</h3>

<div id="salespeople_not_in_branch">
    <%= partial :salespeople_not_in_branch %>
</div>

<br/>

<%= link_to 'Edit', edit_admin_branch_path(@branch) %>