<% form_for :form, SpecialsForm.new(:special => special.title), :url => enquire_special_path(special), :html => { :method => :post, :id => "specials_form" } do |f| -%>
	<div class="form">
		<div id="specials_form_notice" class="notice" style="display: none;"></div>
	  <div id="specials_form_errors" class="error" style="display: none;"></div>
		<div>
			First name:<br/>
			<%= f.text_field :first %><br/>
			Last name:<br/>
			<%= f.text_field :last %><br/>
			Email<br/>
			<%= f.text_field :email %><br/>
			Phone number<br/>
			<%= f.text_field :phone %><br/>
			Comments<br/>
			<%= f.text_area :comments, :rows => 5, :cols => 50 %><br/>
			<%= f.hidden_field :special %>
			<%= submit_tag 'Enquire' %><%= spinner("specials_spinner") %>
		</div>
	</div>
<% end -%>

<script type="text/javascript">
//<![CDATA[

 $('#specials_form').ajaxForm({
	dataType: 'script',
	beforeSubmit: function(xhr){
		$('#specials_spinner').show();
		$('#specials_form_errors').hide();
		$('#specials_form_notice').hide();
	},
	success: function(data){
		$('#specials_spinner').hide();
		eval(data);
	}
});
//]]>
</script>

