<% content_for(:browser_title) do %>
	<%=h @special.title %>
<% end -%>

<% content_for(:title) do %>
	<h2><%=h @special.title %></h2>
<% end -%>


<p><%= image_tag @special.image.public_filename if @special.image %></p>
<%= @special.rendered_text %>

<div id="enquire">
	<h3>Enquire about special</h3>
	<%= render :partial => "form", :locals => { :special => @special } %>
</div>