<% content_for(:browser_title) do %>
	<%=h @special.title %>
<% end -%>

<% content_for(:title) do %>
	<h2><%=h @special.title %></h2>
<% end -%>


<%= image_tag @special.image.public_filename if @special.image %>
<%= @special.rendered_text %>

<h3>Enquire about special</h3>
<%= render :partial => "form", :locals => { :special => @special } %>

<% if logged_in?  %>
    <%= link_to 'Edit', edit_admin_special_path(@special) %>
<% end  %>