<table>
  <tr>
    <th>Stock code</th>
    <th>Model</th>
    <th>Price</th>
    <th>Colour</th>
    <th>Reg num</th>
    <th>Mileage</th>
    <th>Days in stock</th>
  </tr>

<% for classified in classifieds %>
  <tr>
    <td><%=h classified.stock_code %></td>
    <td><%=h classified.humanize %></td>
    <td><%=h classified.price.format(:no_cents) %></td>
    <td><%=h classified.colour %></td>
    <td><%=h classified.reg_num %></td>
    <td><%=h classified.mileage %></td>
    <td><%=h classified.days_in_stock %></td>
    <td><%= link_to 'Edit', edit_admin_classified_path(classified) %></td>
  </tr>
<% end %>
</table>
