<%= f.error_messages %>

<p>
  <b>Stock no:</b>
  <%=h classified.stock_code %>
</p>

<p>
  <b>Model:</b>
  <%=h classified.humanize %>
</p>

<p>
  <b>Features:</b>
  <%=h classified.features %>
</p>

<p>
  <b>Branch:</b>
  <%=h classified.branch.name %>
</p>

<p>
  <%= f.label :price %><br />
  <%= f.text_field :price %>
</p>
<p>
  <%= f.label :mileage %><br />
  <%= f.text_field :mileage %>
</p>
<p>
  <%= f.label :expires_on %><br />
  <%= f.date_select :expires_on %>
</p>
