<%= f.error_messages %>

<p>
  <%= f.label :price_in_cents %><br />
  <%= f.text_field :price_in_cents %>
</p>
<p>
  <%= f.label :mileage %><br />
  <%= f.text_field :mileage %>
</p>
<p>
  <%= f.label :expires_on %><br />
  <%= f.date_select :expires_on %>
</p>
