<p>
  <b>Stock code:</b>
  <%=h @classified.stock_code %>
</p>

<p>
  <b>Model variant:</b>
  <%=h @classified.model_variant_id %>
</p>

<p>
  <b>Year:</b>
  <%=h @classified.year %>
</p>

<p>
  <b>Price in cents:</b>
  <%=h @classified.price_in_cents %>
</p>

<p>
  <b>Colour:</b>
  <%=h @classified.colour %>
</p>

<p>
  <b>Reg num:</b>
  <%=h @classified.reg_num %>
</p>

<p>
  <b>Mileage:</b>
  <%=h @classified.mileage %>
</p>

<p>
  <b>Features:</b>
  <%=h @classified.features %>
</p>

<p>
  <b>Img url:</b>
  <%=h @classified.img_url %>
</p>

<p>
  <b>Days in stock:</b>
  <%=h @classified.days_in_stock %>
</p>

<p>
  <b>Has service history:</b>
  <%=h @classified.has_service_history %>
</p>

<p>
  <b>Cyberstock:</b>
  <%= @classified.cyberstock? %>
</p>

<% if @classified.cyberstock? %>
	<p>
	  <b>Expires on:</b>
	  <%=h @classified.expires_on %>
	</p>

	<p>
	  <b>Physical used car stock:</b>
	  <%=h @classified.physical_stock %>
	</p>

	<p>
	  <b>Branch:</b>
	  <%=h @classified.branch.name %>
	</p>

<% end %>

<%= link_to 'Edit', edit_admin_classified_path(@classified) %> |
<%= link_to 'Back', admin_classifieds_path %>
