<div class="sidebox callback">
	<h3>Request a Call-back</h3>
	<p>We'll call you back as soon as<br />an agent becomes free.</p>
		<% form_for :form, CallbackForm.new(:vehicle => "#{@classified.humanize}(##{classified.stock_code})", :branch_id => @classified.branch_id), :url => callback_path, :html => { :method => :post, :id => "callback_form" } do |f| -%>
			<div id="callback_form_notice" class="notice" style="display: none;"></div>
		  <div id="callback_form_errors" class="error" style="display: none;"></div>
			<div class="form">
				<label>First Name:</label><br/>
				<%= f.text_field :first %><br/>
				<label>Last Name:</label><br/>
				<%= f.text_field :last %><br/>
				<label>Phone number:</label><br/>
				<%= f.text_field :phone %><br/>
				<%= f.hidden_field :vehicle %>
				<%= f.hidden_field :branch_id %>
				<input type="image" class="button" src="/images/btn-submit.gif" value="Submit" id="Submit" name="Submit" /><%= spinner("callback_spinner") %>
			</div>
		<% end -%>
</div>
