<div id="enquiry">
	<div>
		<h3>Vehicle enquiry</h3>

		<div id="enquiry_form_notice" style="display: hidden;"></div>
	  <div id="enquiry_form_errors" style="display: hidden;"></div>

		<% form_for :form, ef = UsedVehicleEnquiryForm.new(:branch_id => classified.branch_id, :vehicle => "#{classified.year} #{classified.humanize} (Ref ##{classified.stock_code})"), :url => used_vehicle_enquiry_path, :html => { :method => :post, :id => "enquiry_form" } do |f| -%>

			<p>
				<label>Your name:</label>
				<%= f.text_field :name %><br/>
				<label>Telephone No:</label>
				<%= f.text_field :phone %><br/>
				<label>Email address: </label>
				<%= f.text_field :email %><br/>
				<%= f.radio_button :insurance, "I require insurance" %> I require insurance.<br/>
				<%= f.radio_button :insurance, "I have insurance, but would like another insurance quote" %> I have insurance, but would like another insurance quote.<br/>
				<label class="gap">Comments:</label>
				<%= f.text_area :comments, :rows => 2 %><br/>
				<%= f.hidden_field :vehicle %>
				<%= f.hidden_field :branch_id %>
				<input type="image" class="button" src="/images/btn-submit.gif" value="Submit" id="Submit" name="Submit" /><%= spinner("enquiry_spinner") %>
			</p>

		<% end %>
		
	</div>
</div><!-- end enquiry -->

<script type="text/javascript">
//<![CDATA[

 $('#enquiry_form').ajaxForm({
	dataType: 'script',
	beforeSubmit: function(xhr){
		$('#enquiry_spinner').show();
		$('#enquiry_form_errors').hide();
		$('#enquiry_form_notice').hide();
	},
	success: function(data){
		$('#enquiry_spinner').hide();
		eval(data);
	}
});
//]]>
</script>
