<% if @classified.removed? %>
	<p style="color: red;">	
		Sorry, it was a great vehicle, but we have already sold it.<br/>
		<%= partial "shared/follow_up", { :criteria_in_words => "Make: #{@classified.make.common_name}\nModel: #{@classified.model.name}\nPrice range: \nYear: " } %>
	</p>
<% end -%>

<% if (request.env["HTTP_REFERER"] || "").include?(request.env["SERVER_NAME"]) %>
	<%= link_to "Back to search results", "javascript:history.back();", :title => "Back to search results" %> | <%= link_to "Search again", search_path, :title => "Search for used motor vehicles" %>
<% else %>
	<%= link_to "Search for other used vehicles", search_path, :title => "Search for used motor vehicles" %>
<% end -%>
 | <%= link_to "View Vehicles in same price range", search_path(:price => @classified.price), :title => "Search for similarly priced vehicles" %>

<p>
  <b>Model:</b>
  <%=h @classified.humanize %>
</p>

<p>
  <b>Year:</b>
  <%=h @classified.year %>
</p>

<p>
  <b>Stock code:</b>
  <%=h @classified.stock_code %>
</p>

<p>
  <b>Price:</b>
  <%=h @classified.price.format(:no_cents) %>
</p>

<p>
  <b>Colour:</b>
  <%=h @classified.colour %>
</p>

<p>
  <b>Mileage:</b>
  <%=h @classified.mileage %>km
</p>

<p>
  <b>Features:</b>
  <%=h @classified.features %>
</p>

<p>
  <b>Img url:</b>
  <%=h @classified.img_url %>
</p>

<p>
  <b>Has service history:</b>
  <%=h @classified.has_service_history %>
</p>

<h3>Calculator</h3>
<%= partial "calculators/monthly_payment", :purchase_price => (@classified.price_in_cents / 100).to_i %>

<% link_to_section "Disclaimer" do |cancel| %>	
	<%= link_to_function("Hide disclaimer", cancel) %>
	<h3>Disclaimer</h3>
	<p> RV to supply the disclaimer.</p>
<% end -%>
<br/>
<% link_to_section "Warranty information" do |cancel| %>	
	<%= link_to_function("Hide warranty", cancel) %>
	<h3>Warranty  information</h3>
	<p> RV to supply the warranty.</p>
<% end -%>
