<% content_for(:browser_title) do %>
	<%=h @classified.year %> <%=h @classified.humanize %>
<% end -%>

<% content_for(:title) do %>
	<h2><%=h @classified.year %> <%=h @classified.humanize %></h2>
<% end -%>

<% if @classified.removed? %>
	<p style="color: red;">	
		Sorry, it was a great vehicle, but we have already sold it.<br/>
		<%= partial "shared/follow_up", { :criteria_in_words => "Make: #{@classified.make.common_name}\nModel: #{@classified.model.name}\nPrice range: \nYear: " } %>
	</p>

<% else %>

	<div id="action_menu">
		<p>
		<% if (request.env["HTTP_REFERER"] || "").include?(request.env["SERVER_NAME"]) %>
			<%= link_to "Back to search results", "javascript:history.back();", :title => "Back to search results" %> | 
		<% end -%>
		<%= link_to "View Vehicles in same price range", search_path(:type => "classified", :price => @classified.price), :title => "Search for similarly priced vehicles" %>
		</p>
	</div>

	<div id="twotwenty">

		<%= render :partial => "gallery", :locals => { :classified => @classified } %>
		<%= render :partial => "enquiry", :locals => { :classified => @classified } %>
	
	</div><!-- end twotwenty -->
	
	<div id="fourthirty">

		<ol id="specs">
			<li><span>Make:</span><%=h @classified.make.name %></li>
			<li><span>Model:</span><%=h @classified.model.name %></li>
			<li><span>Colour:</span><%=h @classified.colour  %></li>
			<li><span>Mileage:</span><%=h @classified.mileage %> km</li>
			<li><span>Price:</span><%=h @classified.price.format(:no_cents) %></li>
			<li><span>Ref. #:</span><%=h @classified.stock_code %></li>
		</ol>

		<h6>Features:</h6>
		<p><%=h @classified.features %></p>

		<h6>Description:</h6>
		<p>
			<%= render :partial => "warranty" %>
		</p>	

		<div id="callus">
			<h3>Call us now about this car!</h3>
			<p>If you are excited to get your pre-owned car right now, don't hesitate and contact <strong>Suzanne</strong> now on <strong>021 443 5130</strong> and quote the vehicle    reference number <span><%=h @classified.stock_code %></span>. </p>
		</div><!-- end callus -->

		<h3 class="calc_heading">Calculator</h3>
		<%= partial "calculators/monthly_payment", :purchase_price => (@classified.price_in_cents / 100).to_i %>

		<p>
			<% link_to_section "Disclaimer" do |cancel| %>	
				<%= link_to_function("Hide disclaimer", cancel) %>
				<h3>Disclaimer</h3>
				<p> RV to supply the disclaimer.</p>
			<% end -%>
		</p>
	</div><!-- end fourthirty -->

<% end -%>

<% content_for(:actions) do %>

<% end -%>
	
	
