<% if @classified.removed? %>
	<p style="color: red;">	
		Sorry, already sold.<br/>
		<%= partial "shared/follow_up", { :criteria_in_words => "Make: #{@classified.make.common_name}\nModel: #{@classified.model.name}\nPrice range: \nYear: " } %>
	</p>
<% end -%>

<p>
  <b>Model:</b>
  <%=h @classified.humanize %>
</p>

<p>
  <b>Year:</b>
  <%=h @classified.year %>
</p>

<p>
  <b>Stock code:</b>
  <%=h @classified.stock_code %>
</p>

<p>
  <b>Price:</b>
  <%=h @classified.price.format(:no_cents) %>
</p>

<p>
  <b>Colour:</b>
  <%=h @classified.colour %>
</p>

<p>
  <b>Reg num:</b>
  <%=h @classified.reg_num %>
</p>

<p>
  <b>Mileage:</b>
  <%=h @classified.mileage %>km
</p>

<p>
  <b>Features:</b>
  <%=h @classified.features %>
</p>

<p>
  <b>Img url:</b>
  <%=h @classified.img_url %>
</p>

<p>
  <b>Best buy:</b>
  <%=h @classified.best_buy %>
</p>

<p>
  <b>Days in stock:</b>
  <%=h @classified.days_in_stock %>
</p>

<p>
  <b>Has service history:</b>
  <%=h @classified.has_service_history %>
</p>