<h3><%= @new_vehicle.humanize %> | Variants</h3>

<%= link_to "Import new vehicles", :controller => 'admin/importer', :action => 'import_new_vehicles', :new_vehicle_id => @new_vehicle.id %>

<% unless @new_vehicle.new_vehicle_variants.blank? %>

  <% table_with_block 'Name', 'Excl', 'VAT', 'Incl', 'Reference' do %>
    <% for variant in @new_vehicle.new_vehicle_variants %>
      <tr>
        <td> <%= variant.name %>  </td>
        <td> <%= variant.excl.format(:no_cents) %>  </td>
        <td> <%= variant.vat.format(:no_cents) %>  </td>
        <td> <%= variant.price.format(:no_cents) %>  </td>
        <td> <%= variant.model_reference %>  </td>
      </tr>
    <% end  %>
  <% end  %>

<% else  %>
  <p>There are no model variants for this car yet.</p>
<% end  %>

<h3>Accessories</h3>

<%= link_to "Import accessories", :controller => 'admin/importer', :action => 'import_accessories', :new_vehicle_id => @new_vehicle.id %>

<% unless @new_vehicle.accessories.blank? %>

  <% table_with_block 'Name', 'Excl', 'VAT', 'Incl', 'Reference' do %>
    <% for accessory in @new_vehicle.accessories %>
      <tr>
        <td> <%= accessory.name %>  </td>
        <td> <%= accessory.excl.format(:no_cents) %>  </td>
        <td> <%= accessory.vat.format(:no_cents) %>  </td>
        <td> <%= accessory.price.format(:no_cents) %>  </td>
        <td> <%= accessory.model_reference %>  </td>
      </tr>
    <% end  %>
  <% end  %>

<% else  %>
  <p>There are no accessories for this car yet.</p>
<% end  %>