<h3>Attachments</h3>

<div id="attachmentsPanel">
  <% unless @new_vehicle.attachments.blank? %>
    <ul>
    <% for file in @new_vehicle.attachments %>
        <li id="<%= "attachment_#{file.id}" %>"> 
            <%= link_to file.filename, file.public_filename %> 
            - <%= link_to_remote 'Remove this file', :url => admin_attachment_path( file ), :method => :delete, :confirm => 'Are you sure?'  %>
        </li>
    <% end  %>
    </ul>
  <% end  %>
    <p id="uploaded_files_item_0">
      Name: <%= text_field_tag 'uploaded_files[0][name]' %>
      File: <%= file_field_tag 'uploaded_files_0'   %> 
     <a href='javascript:void(0)' onclick="Element.remove( 'uploaded_files_item_0' ); return false;">Remove</a>  
        <%= hidden_field_tag 'uploaded_files[0][file_field]', 'uploaded_files_0' %>  
    </p>
</div>

<a href="javascript:void( 0 )" onclick="addNewAttachmentField(); return false;"> New attachment </a>
