<%= f.error_messages %>

<p>
  <%= f.label :model_range_id %><br />
  <%= f.select :model_range_id, ModelRange.for_select  %>
</p>
<p>
  <%= f.label :year %><br />
  <%= f.text_field :year %>
</p>
<p>
  <%= f.label :description %><br />
  <%= f.text_area :description, :rows => 5 %>
</p>
<p>
  <%= f.label :enabled %><br />
  <%= f.check_box :enabled %>
</p>

<%= partial :scripts %>

<!-- %= partial :variants %-->

<!-- %= partial :accessories %-->

<%= partial :images %>

<%= partial :attachments %>
