<% form_for :sell_your_car_form, @form, :url => { :controller => 'contact', :action => 'sell_your_car' }, :method => :post do |f| %>

	<div class="form">
	
  <script>
    <!--
				$(document).ready(function(){
					$('#sell_your_car_form_make_id').change(function(e){
						$("#sell_models_spinner").show();
						$.ajax({
							type: "GET",
							url: "/contact/load_models",
							data: { make_id: this.value },
							success: function(data, textStatus){
								$("#sell_models_spinner").hide();
								eval(data);
							},
							error: function (XMLHttpRequest, textStatus, errorThrown) {
								$("#sell_models_spinner").hide();
								eval(XMLHttpRequest.responseText);
							}
						});
						return false;
					});


					$('#sell_your_car_form_model_id').change(function(e){
						$("#sell_model_variants_spinner").show();
						$.ajax({
							type: "GET",
							url: "/contact/load_model_variants",
							data: { model_id: this.value },
							success: function(data, textStatus){
								$("#sell_model_variants_spinner").hide();
								eval(data);
							},
							error: function (XMLHttpRequest, textStatus, errorThrown) {
								$("#sell_model_variants_spinner").hide();
								eval(XMLHttpRequest.responseText);
							}
						});
						return false;
					});
				});
				
-->
  </script>

		<% unless @form.errors.empty? %>
			<div class="error">
				<%= error_messages_for :form %>
			</div>
		<% end %>
		<br/>

		<table class="layout">
			<tr>
				<td>
			    Make<br/>
			    <%= select_tag :sell_your_car_form_make_id, sell_makes_options(params[:sell_your_car_form_make_id]) %><br/>

			    Model<br/> 
			    <%= select_tag :sell_your_car_form_model_id, sell_model_ranges_options(params[:sell_your_car_form_make_id], params[:sell_your_car_form_model_id]) %> <%= spinner 'sell_models_spinner' %><br/>

			    Year<br/> 
			    <%= f.select :model_variant_id, [ ['Select a model first...', ''] ] %> <%= spinner 'sell_model_variants_spinner' %><br/>

					If your car is not listed<br/> 
			    <%= f.text_area :vehicle_details, :rows => 3, :cols => 30, :value => "enter make and model and year here" %><br/>
				</td>
				<td>
						What do you owe on your vehicle:<br/>
				    R<%= f.text_field :owe, :size => 10 %><br/>

						Expected price<br/>
				    R<%= f.text_field :expected_price, :size => 10 %><br/>

						Condition<br/>
						<%= f.select :condition, [["Excellent", "Excellent"], ["Good", "Good"], ["Fair", "Fair"], ["Poor", "Poor"]] %><br/>

				<%# 
				    Has full service history?  
				     <--%= f.check_box :has_full_service_history %--><br/>

				    Are you interested in buying a new or pre-owned vehicle? 
				    <--%= f.check_box :interested_in_buying  %--><br/>
				%>

			
				</td>
				<td>
			    Color<br/>
			    <%= f.text_field :color, :size => 10 %><br/>

			    Metallic<br/>
					<%= f.select :metallic, [["Yes", 1], ["No", 0]] %><br/>

			    Mileage<br/>
			    <%= f.text_field :mileage, :size => 10 %><br/>
				</td>
			</tr>
			<tr>
				<td style="border-top:1px solid lightgrey;">
					<strong>Contact details</strong><br/><br/>
			    Your first name:<br/>
			    <%= f.text_field :your_first_name %><br/>

			    Your last name:<br/>
			    <%= f.text_field :your_last_name %><br/>

			    Your email:<br/>
			    <%= f.text_field :your_email %><br/>

			    Your contact phone number:<br/>
			    <%= f.text_field :your_contact_phone_number %><br/>

			    <input type="image" class="button" src="/images/btn-submit.gif" value="Submit" id="Submit" name="Submit" /><%= spinner("enquiry_spinner") %>
					
				</td>
			</tr>
		</table>



	</div>
<% end  %>