<% content_for(:browser_title) do %>
	Contact
<% end -%>

<% content_for(:title) do %>
	<h2>Contact</h2>
<% end -%>



<ul class="non_list">
	<% @branches.each do |branch| -%>
		<li>
			<%= link_to(image_tag(branch.image.public_filename(:medium), :class => "dropshad"), branch.image.public_filename, :popup => true) if branch.image %>
			<h3><%= branch.name %></h3>
			<strong>Email: <%= enkode_mail "contact@reeds.co.za", "contact@reeds.co.za", "", "[#{branch.name}]"  %></strong>
			<strong>Phone: </strong><%=h branch.phone %>
			<strong>Fax: </strong><%=h branch.fax %>
			<%= simple_format(sanitize(branch.address)) %>
			<h4>Managers</h4>
			<table>
				<% branch.salespeople.managers.each do |manager| -%>
					<tr>
						<td><%=h manager.job_title %></td>
						<td><%=h manager.name %></td>
						<td><%=h manager.phone %></td>
						<td><%= enkode_mail manager.email, manager.email, "", "[REEDS WEBSITE]"  %></td>
					</tr>
				<% end -%>
			</table>
		</li>
	<% end -%>
</ul>
