<% content_for(:browser_title) do %>
	Contact
<% end -%>

<% content_for(:title) do %>
	<h2>Contact</h2>
<% end -%>



<ul>
	<% @branches.each do |branch| -%>
		<li style="list-style-type: none; margin-left: 0px; padding-left: 0px;">
			<%= link_to(image_tag(branch.image.public_filename(:medium), :class => "bdr"), branch.image.public_filename, :title => "Click to see full size", :popup => true) if branch.image %>
			<h3><%= branch.name %></h3>
			<p>
				<strong>Email: <%= enkode_mail "contact@reeds.co.za", "contact@reeds.co.za", "", "[#{branch.name}]"  %></strong><br/>
				<strong>Phone: </strong><%=h branch.phone %>
				<strong>Fax: </strong><%=h branch.fax %>
			</p>
			<%= simple_format(sanitize(branch.address)) %>
			<h4>Managers</h4>
			<table>
				<% branch.salespeople.managers.each do |manager| -%>
					<tr>
						<td><%=h manager.job_title %></td>
						<td><%=h manager.name %></td>
						<td><%=h manager.phone %></td>
						<td><%= enkode_mail manager.email, manager.email, "", "[REEDS WEBSITE]"  %></td>
					</tr>
				<% end -%>
			</table>
		</li>
	<% end -%>
</ul>
