<p>
  <b>Model:</b>
  <%=h @model_variant.model_id %>
</p>

<p>
  <b>Year:</b>
  <%=h @model_variant.year %>
</p>

<p>
  <b>Mead mcgrouther code:</b>
  <%=h @model_variant.mead_mcgrouther_code %>
</p>


<%= link_to 'Edit', edit_admin_model_variant_path(@model_variant) %> |
<%= link_to 'Back', admin_model_variants_path %>
