<h1>Listing menu items</h1>

<% unless @menu_items.blank? %>
    <table>
  <tr>
    <th>Title</th>
    <th>Page</th>
    <th>Position</th>
    <th>Depth</th>
    <th>Path</th>
    <th>Parent</th>
  </tr>

<% for menu_item in @menu_items %>
  <tr>
    <td><%=h menu_item.title %></td>
    <td><%=link_to( menu_item.page.title, admin_page_path(menu_item.page)) if menu_item.page %></td>
    <td><%=h menu_item.position %></td>
    <td><%=h menu_item.depth %></td>
    <td><%=h menu_item.path %></td>
    <td><%=h(menu_item.parent.title) if menu_item.parent %></td>
    <td><%= link_to 'Edit', edit_admin_menu_item_path(menu_item) %></td>
    <td><%= link_to 'Destroy', admin_menu_item_path(menu_item), :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>
<% else %>
  <p> There are no menu items available yet </p>
<% end %>

<br />

<%= link_to 'New menu item', new_admin_menu_item_path %>
