<span class="menu_header">Importing</span>
<ul>
	<li><%= link_to 'Import Stock file', :controller => 'admin/importer', :action => 'import_stock' %></li>
	<li><%= link_to 'Import Mead & McGrouther file', :controller => 'admin/importer', :action => 'import_mm' %></li>
</ul>

<span class="menu_header">Vehicles</span>
<ul>
	<li><%= link_to 'Ghost cars', admin_classifieds_path %></li>
	<li><%= link_to 'Model ranges (new vehicles)', admin_model_ranges_path %></li>
	<li><%= link_to 'New Vehicles', admin_new_vehicles_path %></li>
</ul>

<span class="menu_header">CMS</span>
<ul>
	<li><%= link_to 'News Categories', admin_categories_path %></li>
	<li><%= link_to 'News Articles', admin_news_articles_path %></li>
	<li><%= link_to 'Pages', admin_pages_path %></li>
	<li><%= link_to 'Salespeople', admin_salespeople_path %></li>
	<li><%= link_to 'Branches', admin_branches_path %></li>
	<li><%= link_to 'Referrals', admin_referrals_path %></li>
</ul>

<span class="menu_header">Newsletters</span>
<ul>
	<li><%= link_to "Newsletters", "#", :onclick => "$('newsletter_login_form').submit(); return false;" %></li>
</ul>

<span class="menu_header">Admin</span>
<ul>
	<li><%= link_to 'Menu items', admin_menu_items_path %></li>
	<li><%= link_to 'Users', admin_users_path %></li>
	<% if logged_in? %>
		<li><%= link_to 'Logout', admin_logout_path %></li>
	<% end %>
</ul>

<form action="http://theselovelydays.createsend.com/login.aspx" method="post" id="newsletter_login_form" style="float: right; margin: 0; padding: 0; width: 0; height: 0;">
	<%= hidden_field_tag "username", "reeds" %>
	<%= hidden_field_tag "password", "r33d5" %>
</form>