<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xml:lang="en" xmlns="http://www.w3.org/1999/xhtml" lang="en">

	<head>
		<meta http-equiv="content-type" content="text/html; charset=ISO-8859-1">


		<title>REEDS : <%= yield :browser_title %></title>

		<meta name="description" content="Reeds are a Western Cape based, franchised motor group, providing motoring solutions to the private and corporate sectors. General Motors Vehicles, Opel, Isuzu, Chevrolet, Saab, Hummer, Cadillac." lang="en-us">
		<meta name="keywords" content="Reeds are a Western Cape based, franchised motor group, providing motoring solutions to the private and corporate sectors. General Motors Vehicles, Opel, Isuzu, Chevrolet, Saab, Hummer, Cadillac." lang="en-us">
		<%= stylesheet_link_tag "slider", "ui.datepicker.css", "styles", "application", :media => "screen, projection", :cache => "cached_all" %>
		<%= stylesheet_link_tag "print", :media => "print" %>
		<% if @use_jquery %>
		    <%= javascript_include_tag "jquery-1.2.6.pack.js", "frontend", :cache => "cached_jquery"  %>
				<%= javascript_include_tag "jquery-form.js", "jquery-ui-1.5rc1.min.js", "jquery.highlight.js", "accordion.js", "cycle.js", "slider.js", "suckerfish.js", :cache => "cached_jquery_extras" %>
		<% end  %>
		<%= yield :header %>
	</head>

	<body>

		<div id="wrapper">
			<div id="header">
				<h1><a href="/" title="Home"><img src="/images/reeds.gif" alt="REEDS"></a><img id="print_logo_image" src="/images/reeds.gif" alt="REEDS"></h1>
				<p id="header_welcome">Welcome to <strong>reeds.co.za</strong> <a href="/contact" class="locate-dealer">Locate a dealer</a> <small>|</small> <a href="/pages/friends-of-reeds">Friends of Reeds</a> <small>|</small> <a href="javascript:window.print()">Print this page</a></p>
				
		    <%= partial 'menu_items/menu'  %>
			</div><!-- end header -->

			<div id="content">
				<div id="sixfifty">

					<div id="path">
						<p>&nbsp;</p>
					</div>

					<%= yield :title %>

					<% unless flash.blank? %>
			        <% flash.each do |key, value| %>
								<% unless flash[key].blank? %>
									<% if key == :public_error %>
										<div id="global_error" class="error">Error - <%= value  %></div>
									<% elsif key == :public_notice %>
										<div id="global_notice" class="notice">Notice - <%= value  %></div>
									<% end %>
									<% flash[key] = nil %>
								<% end %>
			        <% end  %>
			    <% end %>
			    
					<%= yield %>

				</div>
				
				<div id="twofifty">
				
					<%= render :partial => "search/form" %>

					<div id="actions">
						<%= yield :actions %>
					</div>
					
				</div>
    
				<%= partial "layouts/footer" %>

			</div><!-- end content -->
		</div><!-- end wrapper -->
	</body>
</html>