<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
  	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  	<title>Reeds Motorgroup</title>

  	<%= stylesheet_link_tag "application", "ui.datepicker.css", :cache => "cached_all" %>
        <% if @use_jquery %>
            <%= javascript_include_tag "jquery-1.2.6.pack.js", "jquery-form.js", "jquery-ui-1.5rc1.min.js", "jquery.highlight.js", :cache => "cached_js"  %>
						<%= javascript_include_tag "frontend" %>
        <% end  %>
        <%= yield :header %>
  </head>

  <body>
    <h1>Reeds Motorgroup</h1>

    <%= partial 'menu_items/menu'  %>

    <% unless flash.blank? %>
        <% flash.each do |key, value| %>
            <p><%= key.to_s.humanize %> - <%= value  %> </p>
        <% end  %>
    <% end %>
    
    <%= yield %>
    
		<%= partial "layouts/footer" %>
  </body>
</html>